#header {
  padding: 50px 0 0 0;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
  background-color: $primaryColor;
  color: white;
  z-index: 9999;
  background: $primaryColor;

  #blog-title {
    position: relative;
    font-size: 1.8em;
    font-weight: bold;
    font-family: $secondaryFontFamily;
    margin-bottom: 10px;

    &,a{
      color: white;
    }
  }

  #blog-description{
    color: rgba(white,.6);
    margin-bottom: 45px;
  }

  #access {
    display: block;
    background: darken($primaryColor,5%);
  }
  
  #access nav select {
    display: none;
  }

  .is-sticky #access{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    @include box-shadow(0 3px 8px rgba(0,0,0,0.3));
  }

}

.admin-bar #header .is-sticky #access{
   top: 28px !important;
}

@media only screen and (max-width: 480px) {
  #header {
    #access nav ul {
      display:none;
    }
    
    #access {
      overflow:hidden;
      height:50px;
    }
    
    #access nav {
      padding:10px;
    }
    
    #access nav select {
      display: block;
      width:100%;
      background:#fff;
      height:30px;
      font-size:14px;
      text-indent:10px;
    }
  }
}