$primaryFontFamily: "Cabin";
$secondaryFontFamily: "Playfair Display SC";
$tertiaryFontFamily: "Playfair Display SC";
$primaryColor: #303233;
$linkColor: #cf4152;
$textColor: #222;
$siteWidth: 1240px;