/*
Light Gallery Theme
*/

body {
	background: #F8F5F0;
	color:#555;
	font-size:15px;
	font-family:helvetica, arial, sans-serif;
	margin:0;
	padding:0;
}

a {
	color: #9C272B;
}

a:hover{
  color: #1a1a1a;
	text-decoration: none;
}

span.dropcaps {
	font-family:Georgia, serif;
	color:#ccc;
	font-size:46px;
	float:left;
	font-weight:400;
	line-height:1em;
	margin-bottom:-0.4em;
	margin-right:0.09em;
	position:relative;
}

h2 {
	color:#000;
	font-family:Helvetica, Arial, sans-serif;
	font-size:20px;
	font-weight:700;
	margin:0;
	padding:0;
}

h3 {
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-weight:400;
	border-bottom:1px solid #ddd;
	color:#000;
	text-decoration:none;
	font-size:18px;
	margin: 0 0 0.5em 0;
	padding: 0;
}

h4 {
	font-size:16px;
	color:#21211f;
	font-weight:400;
	margin:0;
	padding:15px 0 0;
}

h5 {
	font-size:15px;
	font-weight:700;
	padding:0;
}
input,
input[type="text"],
input[type="password"],
textarea,
select{
	font-family: Arial, Helvetica, sans-serif;
	background: #fff;
	color: #333;
	padding: 10px;
	border: 1px solid #BFB1A7;
}
input[type="submit"],
input[type="button"],
button,
.form-submit input{
	color:white;
	font-weight: bold;
	position: relative;
	background-color: #8E3737;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 6px 8px 2px 8px;
	font-size: 1em;
	line-height: 0.75em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	text-shadow: 0 -1px 0 #000;
	-webkit-text-shadow: 0 -1px 0 #000;
	-moz-text-shadow: 0 -1px 0 #000;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover{
	-moz-opacity: 0.75;
	-webkit-opacity: 0.75;
	opacity: 0.75;
	filter: alpha(opacity=75);
	color: #ddd;
}
input[type="submit"]:active,
input[type="button"]:active,
button:active{
  -moz-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
}
abbr{
  border-bottom: 1px dotted #555;
}
pre{
  background-color: #ffffff;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 5px;
  margin: 10px 0;
  white-space: pre;
  overflow: auto;
  
}
blockquote{
  font: 1em Georgia, Times, "Times New Roman",serif;
  color: #1a1a1a;
  line-height: 160%;
  padding-left: 20px;
  border-left: 4px solid #ccc;
}
.post blockquote p {
  font-stayle: italic;
}
pre,
code{
  font-size: 12px;
}
body {
  font-family: Lucida Grande,Helvetica,Arial,Verdana,sans-serif;
  font-size: 90%;
  font-style: normal;
  line-height: 2em;
}

#main{
	width: 940px;
}

#header .buffer,
#wrapper{
	margin: 0 auto;
	width: 940px;
	position: relative;	
}

#wrapper{
	height: auto;
	min-height: 300px;
	clear: both;
	z-index: 100;
}

.medium{
	width: 500px;
}

h1, h2, h3{
  color: #1a1a1a;
}
h2{
  font-size: 1.5em;
  margin-bottom: 0.7em;
}
#content ol,
#content ul{
  margin-bottom: 1em;
}
.single #content li{
  line-height: 1.4em;
}
.single #content ul{
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #ccc;
}
.single #content li{
  padding: 10px 0 10px 0;
  list-style: none;
  position: relative;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #F2F2F2;
}
.twitter{
  background: url("images/icons/twitter-trans.png") no-repeat left center;
}
.delicious{
  background: url("images/icons/delicious-trans.png") no-repeat left center;
}
.designer{
	padding-left: 0;
}
.site-link{
	padding-left: 0;
}
#header {
	margin: 0 auto;
	padding: 0;
	position: relative;
	z-index: 9000;

}
#branding,#access {
	margin: 0 auto;
	overflow: visible;
	width: 100%;
}
#access{
	background: transparent url("images/light/gallery-bg-menu.jpg") repeat-x left top;
}
#branding{
	background: #391A20 url("images/light/gallery-bg-top.jpg") repeat-x left bottom;
	padding: 20px 0 30px 0;
	min-height: 30px;
	overflow: auto;
}
.ie8 #branding{
	margin-bottom: 20px;
	height: 30px;
}
#blog-title {
  text-align: left;
  display: inline;
  float: left;
}
#blog-title a{
  display: block;
  width: 215px;
  height: 61px;
  background: url("images/light/logo-trans.png") no-repeat left top;
  text-indent: -9000px;
}
.msie #blog-title a{
  position: relative;
  margin-bottom: -10px;
}
#blog-description {
  color:#777;
  font-size:0.9em;
  line-height: 1.4em;
  font-weight:normal;
  text-align: right;
  padding-top: 66px;
}
#access {
  width: 100%;
  height: 45px;
  margin: 0 0 15px 0;
  clear: both;
	font-size: 14px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.msie #access {
  margin-top: -5px;
}
#category-menu ul{
  padding: auto;
  margin:0;
}
#page-menu #page-nav,
#category-menu #category-nav{
	margin-bottom: 0;	
}
#category-menu li{
  float: left;
  height: 45px;
}
#category-menu li a,
li.blog-description span{
	display: block;
	font-size: 0.87em;
	height: 28px;
	padding: 0;
	margin-right: 8px;
	padding: 3px 8px 8px 8px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-shadow: 0 -1px 0 #000;
	-webkit-text-shadow: 0 -1px 0 #000;
	-moz-text-shadow: 0 -1px 0 #000;
	text-decoration: none;
	line-height: 3.2em;
}
li.blog-description span{
	text-transform: none;
	padding-right: 0;
}
#category-menu li a{
	color: #dfc1c3;
	font-weight: bold;
}
#category-menu li a:hover{
	background: url("images/light/nav-right-cap.gif") no-repeat top right;
}
#category-menu li.current_page_item{
}
#category-menu li.current_page_item a{
  color: #ddd;
}
#category-menu > li:first-child{
  margin-left: 10px;
}
#category-menu li a:hover{
  color: white;
}
#category-menu li.blog-description{
  float: right;
}
#category-menu li.blog-description span{
  font-weight: normal;
}
#category-menu ul ul ul.children{
	top: 0;
}
#blog-description{
  display: none;
}
#page-menu{
  position: absolute;
  top: -100px;
  right: -10px;
  margin: 0;
  width: 500px;
  font-size: .8em;
  color: #888;
  z-index: 100;
}
#page-menu #page-nav{
  text-align: right;
  position: absolute;
  top: -15px;
  right: 0;
}
#page-menu #page-nav li{
  float: right;
  margin: 10px 0 0 4px;
}
#page-menu #page-nav li a{
  padding: 8px 12px;
  font-size: .9em;
  color: #F7E1E6;
  text-decoration: none;
  text-transform: uppercase;
}
#page-menu #page-nav li a:hover{
  color: white;
  text-decoration: underline;
}
#page-menu #page-nav li.rss a{
  padding-left: 20px;
  background: url("images/light/ico-rss-trans.png") no-repeat left center;

}
.sf-menu li {
	position: relative;
	background:transparent;
}
body #access #category-menu .sf-menu li li {
  width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
}
.sf-menu li li li {
	background: #6F272C;
}
body #access #category-menu .sf-menu ul a:focus, 
body #access #category-menu .sf-menu ul a:hover, 
body #access #category-menu .sf-menu ul a:active {
	background: url("images/light/nav-right-cap.gif") no-repeat top right;
	font-weight: bold;
	color: #fff;
}
#category-menu .sf-menu li:hover{
	background: url("images/light/nav-left-cap.gif") no-repeat top left;
	padding-left: 1px;
}
.sf-menu li li a:hover {
	background:#ccc;
}
.sf-menu ul {
	border:medium none;
}
.sf-menu li{
	padding-left: 1px;
}
.sf-menu li:hover ul, 
.sf-menu li.sfHover ul {
	top: 40px;
	left: 0;
	position: absolute;
	background: #6F272C;
	padding: 0;
}
.sf-menu ul ul {
	top: auto;
	left: auto;
	margin-top:0;
}
body #access #category-menu .sf-menu ul a {
	background: url("images/light/nav-right-cap.gif") no-repeat top right;
	padding: 5px 0 5px 5px;
	margin: 0;
	line-height: 20px;
	height: 20px;
	display: block;
	width: auto;
}
.sf-menu ul a:hover {
	color: #fff;
}

.skip-link {
  display: none;
}

#main{
	position: relative;
	z-index: 5;
	margin:0 auto 30px;
	clear: both;
}

#searchform div{
	padding: 0 0 15px 0;
}

.aside ul ul{
	padding: 0 0 15px 0;
}

.aside ul ul ul{
	padding: 0;
}

.page #primary,
.post-temp-blog-php #primary{
  display: block;
}
.aside{
  width: 270px;
}
#content{
	width: 940px;
	margin: 0;
	float: none;
	overflow: visible;
	padding-top: 0;
}
.entry-content{
	line-height: 1.6em;
}
.singular #container,
.singular #primary{
	margin-top: 20px;
}
.page #content,
.post-temp-blog-php #content{
  width: 620px;
}
.page #content li{
  list-style: disc;
  margin-left: 20px;
}
.single #container{
  position: relative;
}
.single .entry-content{
  display: inline;
  float: left;
  margin: 20px 0 0 578px;
  width: 348px;
}
.post-temp-blog-php .entry-content{
	display: block;
  float: none;
  margin: 0;
  width: auto;
}
body.post-temp-iphone-php div.entry-content{
  margin:20px 0 0 435px;
  width:500px;
}
.single .artwork-container{
  float: left;
  margin-left: -924px;
}
body.post-temp-iphone-php div.artwork-container{
  float: left;
  margin-left: -924px;
}
body.post-temp-iphone-php div.artwork-container img{
  width: 223px;	
}
.single .entry-artwork{
  background-color: #fff;
  border: 1px solid #BFB1A7;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px;
	margin-bottom: 40px;
}

/* Gallery Styles */

#myController{
	margin-top: 5px;
	position: relative;
	margin-bottom: -5px;
}

.jFlowControl{
	padding: 2px 5px;
	margin: 5px 5px 0 0;
	background-color: #FFF;
	border: 1px solid #BFB1A7;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
}
.jFlowControl:hover{
	background-color: #F8ECE7;
}
.jFlowSelected{
	background-color: #6F272C;
	color: #DAC6B8;
	border: 0;
	padding: 3px 6px;
}

body.post-temp-iphone-php div.entry-artwork{
  background: transparent url("images/light/iphone-background-trans.png") no-repeat top center;
  height: 626px;
  width: 400px;
  border: none;
  padding: 0;
  position: relative;
	margin-bottom: 0;
}
body.post-temp-iphone-php div.entry-artwork img{
  position: absolute;
  top: 83px;
  left: 90px;
}
.single .navigation{
  margin-top: 10px;
  padding-top: 0;
}
.single h1,
h1.page-title{
  font-size: 1.8em;
  margin-bottom: 1em;
}
h1.page-title{
  margin: 0 0 1em 0;
}
.single .entry-content p{
  line-height: 1.3em;
}
.post-temp-blog-php .entry-artwork{
	display: none;	
}
.not-singular .entry-content{
  float: left;
  width: 134px;
  margin: 0 0 5px 0;
}
.not-singular .entry-content a{
  border: 3px solid #211917;
  display: block;
  height: 125px;
  width: 125px;
  overflow: hidden;
  position: relative;
  background-color: #211917;
}
.not-singular .entry-content a img{
  position: absolute;
  z-index: 5;
}
.not-singular .entry-content a span.slide-title{
  position: absolute;
  left: 3px;
  bottom: 0;
  height: 16px;
  width: auto;
  white-space: nowrap;
  line-height: 1em;
  color: #FFF !important;
  font-size: .8em;
  text-transform: uppercase;
  z-index: 0;
}
.not-singular .entry-content{
  position: relative;
}
.not-singular .entry-content .new{
  display: block;
	position: absolute;
	top: -1px;
	right: 10px;
	width: 49px;
	height: 32px;
	background: url("images/light/ico-new-trans.png") no-repeat top left;
	z-index: 200;
}
.not-singular .video .new{
	background: url("images/light/ico-video-trans.png") no-repeat top left;
	width: 109px;
}
span.cover-up{
  background: url("images/light/side-fade-trans.png") no-repeat right bottom;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 125px;
  width: 20px;
  z-index: 4;
}
.thumbnail{
	color: #eee;
}
.main-aside p{
  margin-bottom: 1em;
}
.form-label,
.wpcf7-form label{
  display: block;
  margin: 5px 0 0 0;
}
.aside input[type="text"]{
	width: 64%;
	padding: 5px 5px 4px 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#nav-above {
  display: none;
}
#nav-below{
  clear: both;
  padding-top: 10px;
  height: auto;
  overflow: auto;
  padding-bottom: 10px;
}
.nav-next {
  float: right;
  text-align: right;
}
.nav-next a{
	margin-right: 17px;
}
.nav-previous {
  float: left;
}
.aside h3.widgettitle{
	margin-bottom: 5px;
}
.hentry{
  width: auto;
}
.entry-title {
  color: #1a1a1a;
  font-size: 2.6em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 1em;
  padding-bottom: 1px;
}
.entry-title a{
  color: #1a1a1a;
}
.post .entry-meta,.post .entry-utility {
  color: #afafa1;
  font-size: 0.825em;
  margin-bottom: 24px;
  padding-bottom: 5px;
}
.post p, .entry-content p {
  margin-bottom: 1em;
}
.post pre,#content .page pre {
  font-size: 1.6em;
}
.post dt {
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.post dd {
  color: #eee;
  margin-bottom: 1em;
}
.post dl {
  margin-bottom: 1.3em;
  padding-left: 20px;
}
.post a.more-link {
  background: #be194f;
  color: #fff;
  font-size: 0.75em;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.post a.more-link:hover {
  background: #d93c6f;
}
a.more-link .meta-nav {
  display: none;
}
.post h3,.post h4,.post h5,.post h6 {
  margin: 5px 0;
  padding: 5px 0;
}
.post h4 {
  font-size: 1.4em;
}
.post h5 {
  font-size: 1.2em;
  text-transform: uppercase;
}
.post h6 {
  font-size: 1.1em;
  text-transform: uppercase;
}
.post blockquote {
  font: italic 2em Georgia, "Times New Roman", Times, serif;
  color: #1a1a1a;
  margin: 10px 0px;
  padding: 10px 20px 1px 10px;
}
.post blockquote p {
  font-stayle: italic;
}
.post .page-link {
  font-size: 0.825em;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.page-link a {
  background: #f0f0f0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #eee;
  border-right: 1px solid #ddd;
  border-top: 1px solid #eee;
  padding: 5px 10px;
  text-decoration: none;
}
.post .entry-utility {
  border-top: 1px solid #232323;
  margin-bottom: 0;
  padding: 5px 0 0 0;
}
.btc-powered{
  font-size: 0.825em;
}
#comments {
  margin-top: 20px;
  padding: 20px 0 0 0;
  clear: both;
}
#comments,
#comments input[type="text"],
#comments textarea {
  font-size: 1em;
}
#comments .comment-author a{
  text-decoration: none;
}
#comments h3 {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 7px 12px 7px 42px;
	color: #eee;
  font-weight: bold;
  background: #6F272C url("images/light/ico-comment-trans.png") no-repeat 16px center;
}
#comments #respond h3{
  background-image: url("images/light/ico-person-trans.png");
}
#comments #comments-list #respond h3{
  background-image: url("images/light/ico-reply-trans.png");
}
.formcontainer{
  border-top: 1px solid #ccc;
}
#comments-list {
	padding:0 0 18px;
	width:525px;
}
.post-temp-blog-php #comments-list{
  width: 100%;	
}
#comments-list ol,#comments-list ul {
  list-style: none;
  margin: 0;
}
#comments-list ol {
  margin: 0 0 18px 0;
}
#comments-list li {
  padding: 18px 1.5em 18px 1.5em;
  position: relative;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #F2F2F2;
}
#comments-list ol {
  border-bottom: 1px solid #ccc;
}
.single #content #comments-list li,
.page #content #comments-list li{
  padding: 20px 0;
  position: relative;
  z-index: 0;
}
#comments-list li .avatar {
  height: 60px;
  width: 60px;
  padding: 4px;
  border: 1px solid #ccc;
  background: #EDE4DC;
  float: left;
  position: relative;
  margin-left: -95px;
}
#comments-list .comment-author,
#comments-list .comment-meta,
#comments-list .comment-content,
#comments-list .unapproved{
  display: block;
  margin-left: 100px;
}
#comments-list .unapproved{
  background-color: #eee;
  margin-bottom: 15px;
  padding: 10px;
  color: #1a1a1a;
}
#comments-list .comment-author {
  font-weight: bold;
  font-size: 1.1em;
  padding: 5px 0 0 0;
}
#comments-list .comment-meta {
  color: #666;
  font-size: 11px;
  padding: 10px 0 9px 0;
}
#comments-list .comment-meta a {
  font-style: italic;
  text-decoration: none;
}
#comments-list .comment-meta a:active,#comments-list .comment-meta a:hover {
  color: #FF4B33;
}
#comments-list .comment-content{
  padding-right: 10px;
}
#commentform{
  padding: 0;
  width: 350px;
}
.post-temp-blog-php #commentform{
	width: 100%;
}
.comment-reply-link {
  font-size: 11px;
  padding: 0 0 18px 0;
  text-align: right;
}
.hover-url{
  color: #666;
  margin-left: 10px;
  font-weight: normal;
  font-style: italic;
	font-size: 0.7em;
  font-family: Georgia, "Georgia MS", Times, serif;
	position:relative;
	vertical-align: top;
}
.comment-reply-link a {
  color: #eee;
  font-style: italic;
  text-decoration: none;
}
.comment-navigation {
  font-weight: bold;
  margin-right: 0.5em;
  padding: 0;
}
.comment-navigation a {
  border: 1px solid #ccc;
  color: #eee;
  font-weight: normal;
  padding: 0.5em 0.75em;
  text-decoration: none;
}
.comment-navigation a:active,.comment-navigation a:hover {
  color: #FF4B33;
}
.comment-navigation a,.comment-navigation span {
  margin-right: 0.5em;
}
#trackbacks-list .comment-content {
  left: -9000px;
  position: absolute;
}
#respond {
  margin-bottom: 22px;
  padding: 0;
  width: 525px;
  position: relative;
  z-index: 4;
 }
#comments-list #respond {
  margin: 0;
  padding: 0;
  float: none;
  width: 520px;
}
.post-temp-blog-php #respond{
	float: none;
	width: 100%;
	clear: both;
}
#comments-list #commentform {
  width: auto;
}
#comments-list ul #respond {
  margin: 0;
}
#cancel-comment-reply {
  font-size: 11px;
  position: absolute;
  right: 1.5em;
  top: 7px;
}
#respond .required {
  color: #FF4B33;
  font-weight: bold;
}
.form-section{
  padding: 0 0 10px 0;
  clear: both;
}
.form-section label {
  font-size: 11px;
}
.form-section .form-label{
  width: 100px;
  float: right;
  text-align: left;
	line-height: 36px;
}
.form-section .form-input{
  width: 200px;
  float: left;
	margin-top: 5px;
  text-align: left;
	margin-bottom: 10px;
}
.form-section .form-input input{
	width: 220px;
}
.form-section .form-textarea{
  width: 95%;
  text-align: left;
}
.form-section .form-textarea textarea{
	width: 100%;
	margin-top: 5px;
}
#respond #comment-notes{
  line-height: 1.2em;
  margin: 5px 0 20px 0;
  font-size: 0.9em;
}
#comments-list ul.children{
  margin-left: 20px;
}
.single #content #comments-list ul.children li{
  padding-left: 25px;
  background: url("images/light/ico-reply-trans.png") no-repeat 5px 20px;
}
#form-section-comment .form-label{
  display: none;
}
#form-allowed-tags p {
  font-size: 10px;
  line-height: normal;
  margin: 0;
}
#form-allowed-tags span {
  font-style: italic;
}
.form-submit {
  padding: 18px 0 0 0;
}
.subscribe-to-comments {
  color: #eee;
  float: left;
  font-size: 11px;
  margin: 0;
  padding: 18px 0 0 0;
}
.solo-subscribe-to-comments {
  color: #eee;
  font-size: 11px;
  padding: 18px 0 0 0;
}
.comment_license {
  clear: both;
  color: #eee;
  font-size: 11px;
  margin: 0;
  padding: 18px 0 0 0;
}
#footer {
  z-index: 0;
  padding: 0 0 20px 0;
  color: #555;
  margin-top: 0;
}
#footer #subsidiary .aside{
  width: 100%;	
}
#footer .widgetcontainer{
  float: left;
  width: 270px;
  padding: 10px;
  margin: 10px 10px 20px 10px;
 }
#footer .widgetcontainer h3{
  margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: 2px solid #BFB1A7;
}
#footer .widgetcontainer a:hover{
  color: #999;
}
#footer .reset{
  clear: both;
}
#author-info {
  border: 1px dotted #ccc;
  padding: 5px;
  overflow: hidden;
  font-size: 1.2em;
  margin-bottom: 20px;
}
#author-info h2 {
  border-bottom: 3px double #ddd;
  padding: 5px 0;
  font-size: 1.8em;
  margin-bottom: 10px;
}
#author-info .avatar {
  float: left;
  border: 3px double #ddd;
  margin: 0 10px 10px 0;
}

#siteinfo{
  font-size: .8em;
	margin-top: 10px;
	width: auto;
	padding-top: 10px;
	border-top: 2px solid #DFD7D1;

}
#siteinfo a{
  text-decoration: none;
  border-bottom: 1px dotted #333;
}
#siteinfo a:hover{
  border-bottom-color: #555555;
}

/* IE6 fixes */

.ie6,
.ie6 #container{
  width: 100%;
}
.ie6 #blog-title a{
  overflow: auto;
}
.ie6 #category-menu,
.ie6 #category-nav{
  width: 100%
}
.ie6 #category-menu{
  margin: 10px 0 0 10px;
}
.ie6 #category-nav li {
  float: left;
  display: inline;
  padding: 0;
  margin: 0;
  height: auto;
}
.ie6 #category-nav li.blog-description{
  float: right;
}
.ie6 #category-nav li.blog-description span{
  float: right;
}
.ie6 #category-nav a{
  float: left;
}

.ie6 #page-nav li.rss a{
  background-image: none;
}

.ie6 #category-menu,
.ie6 #category-nav{
  width: 100%;
	margin-top: -1px;
}
.ie6 #category-menu li:hover ul.children{
	left: 0;
}
.ie6 #category-nav li {
  float: left;
  display: inline;
  padding: 0;
  margin: 0;
  height: auto;
}
.ie6 #category-nav li.blog-description{
  float: right;
}
.ie6 #category-nav li.blog-description span{
  float: right;
}
.ie6 #category-nav a{
  float: left;
}

.ie7 #category-nav,
.ie7 #page-nav{
  margin-top: 20px;
}

/* =PageNavi
-------------------------------------------------------------- */
 
/* Use !important to override PageNavi CSS */

.wp-pagenavi{
	text-align: center;
	padding-top: 20px;
}

.navigation .wp-pagenavi a, .navigation .wp-pagenavi a:link, .navigation .wp-pagenavi a:active {
	color: #fff;
	background: #BFB1A7;
	padding: 5px 9px;
	border-width: 0 !important;
}
.navigation .wp-pagenavi a:hover {
}
.navigation .wp-pagenavi span.pages {
	background: transparent;
	color: #895F43;
	padding: 5px 9px;
	border-width: 0 !important;
}
.navigation .wp-pagenavi span.current {
	background: #933939;
	color: #fff;
	padding: 5px 9px;
	border-width: 0 !important;
}
.navigation .wp-pagenavi span.extend {
	background: none;
	color: #895F43;
	padding: 5px 9px;
	border-width: 0 !important;
}

/* Styles for Contact Form 7 plugin */

div.wpcf7-response-output{
  display: none;
}

.post-temp-iphone-php .jFlowSlideContainer img{
	display: none;
}

.post-temp-iphone-php .jFlowSlideContainer:first-child img{
	display: block;
}

/* Styles for WP Post Ratings plugin */

.post-ratings{margin-bottom: 10px; float: right; text-align: right; width: 100px !important; margin-top: 5px; overflow: hidden; height: 20px;}
.post-ratings small{font-size: .7em;}
.post-ratings-text{display:none !important;}

/* Styles for BuySellAds widget */

#ads_below_header,
#ads_above_footer{
	width: 940px;
	margin: 0 auto 12px auto;
	clear: both;
	text-align: center;
}

#index-top,
#single-top,
#page-top,
#index-bottom,
#single-bottom,
#page-bottom{
	width: 940px;
	overflow: auto;
	margin-bottom: 1em;
}

#index-top li.widgetcontainer,
#single-top li.widgetcontainer,
#page-top li.widgetcontainer,
#index-bottom li.widgetcontainer,
#single-bottom li.widgetcontainer,
#page-bottom li.widgetcontainer{
	width: 33%;
	float: left;
}

.search-results .hentry:last-child{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}